<?xml version="1.0" ?>
<plugin>
   <extension id="menu.HetsMenu"
	      name="HetsMenu"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Hets"/>
      <path value="/SlotH-A"/>
      <editorKitId value="any"/>
      <toolTip value="Hets menu tool tip!"/>
   </extension>

   <extension id="HetsLocalImportAction"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Import HetCASL (local hets)" />
      <path value="de.unibremen.informatik.hets.menu.HetsMenu/SlotAA-A" />
      <editorKitId value="OWLEditorKit" />
      <class value="de.unibremen.informatik.hets.protege.LocalImportHetsAction" />
      <toolTip value="import OWL from HetCASL files using local hets installation" />
   </extension>

   <extension id="HetsCGIImportAction"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Import HetCASL (remote cgi)" />
      <path value="de.unibremen.informatik.hets.menu.HetsMenu/SlotAA-B" />
      <editorKitId value="OWLEditorKit" />
      <class value="de.unibremen.informatik.hets.protege.CGIImportHetsAction" />
      <toolTip value="import OWL from HetCASL files using online cgi" />
   </extension>

   <extension id="HetsImportAction"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Import HetCASL (custom parser)" />
      <path value="de.unibremen.informatik.hets.menu.HetsMenu/SlotAA-C" />
      <editorKitId value="OWLEditorKit" />
      <class value="de.unibremen.informatik.hets.protege.ImportHetsAction" />
      <toolTip value="import OWL from HetCASL files using local parser" />
   </extension>

   <extension id="HetsExportAction"
              point="org.protege.editor.core.application.EditorKitMenuAction">
      <name value="Export HetCASL" />
      <path value="de.unibremen.informatik.hets.menu.HetsMenu/SlotAB-A" />
      <editorKitId value="OWLEditorKit" />
      <class value="de.unibremen.informatik.hets.protege.ExportHetsAction" />
      <toolTip value="export OWL to HetCASL file" />
   </extension>

   <extension id="HetCASL"
              point="org.protege.editor.core.application.ViewComponent">
      <label value="HetCASL rendering" />
      <class value="de.unibremen.informatik.hets.protege.HetCASLRenderingViewComponent" />
      <headerColor value="@org.protege.ontologycolor" />
      <category value="@org.protege.ontologycategory" />
   </extension>

   <extension id="HetsPrefs"
              point="org.protege.editor.core.application.preferencespanel">
       <label value="Hets"/>
       <class value="de.unibremen.informatik.hets.protege.HetsPreferencesPane"/>
   </extension>

    <extension id="HetsVizTab"
               point="org.protege.editor.core.application.WorkspaceTab">
        <label value="HetsViz"/>
        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>
        <editorKitId value="OWLEditorKit"/>
        <index value="KKK"/>
        <defaultViewConfigFileName value="viewconfig-hetsviz.xml"/>
    </extension>

    <extension id="HetsVizView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="HetsViz"/>
        <class value="de.unibremen.informatik.hets.protege.HetsVizView"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.classcategory"/>
    </extension>
</plugin>
